{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_citation.css') }}">
{% endblock %}

{% block body %}



<form id="citation_form" action="/add_citation" method="post">
  <h2>Create a new citation</h2>
  <label for="type">Citation type:</label>
  <select name="type" id="citation_type" required>
    {% for citation_type in citation_types %}
    <option value="{{citation_type}}">{{citation_type.capitalize()}}</option>
    {% endfor %}
  </select>
  <div id="dynamic_form">
  </div>
  <input type="submit" name="submit" value="Create citation">
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<script src="{{url_for('static', filename='javascript/add_citation.js')}}"></script>

{% endblock %}