{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_citation.css') }}">
{% endblock %}

{% block body %}



<form id="citation_form" action="/add_citation" method="post">
  <h2>Create a new citation</h2>
  <label for="type">Citation type:</label>
  <select name="type" required>
    <option value="article">Article</option>
  </select>

  <label for="title">Title:</label>
  <textarea rows="1" name="title" placeholder="Tech companies want small nuclear reactors." required></textarea>


  <div id="authors">
    <label for="authors">Authors:</label>
    <textarea rows="1" name="author" placeholder="Matti Meikäläinen" required></textarea>
    <button type="button" id="add_author"><b>&#x2b;</b> Add new author</button>
  </div>
  <label for="journal">Journal:</label>
  <textarea rows="1" name="journal" placeholder="Times" required></textarea>

  <label for="year">Year:</label>
  <textarea rows="1" name="year" placeholder="2000" required></textarea>
  <div class="hidden">
    <button type="button" id="opt_btn">Show optional fields</button>
    <label for="volume">Volume:</label>
    <textarea rows="1" name="volume" placeholder="1"></textarea>

    <label for="number">Number:</label>
    <textarea rows="1" name="number" placeholder="1"></textarea>

    <label for="pages">Pages:</label>
    <textarea rows="1" name="pages" placeholder="10-15"></textarea>

    <label for="month">Month:</label>
    <textarea rows="1" name="month" placeholder="1"></textarea>

    <label for="note">Note:</label>
    <textarea rows="1" name="note" placeholder="Add note"></textarea>
  </div>
  <input type="submit" name="submit" value="Create citation">
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<script src="{{url_for('static', filename='javascript/add_citation.js')}}"></script>

{% endblock %}