{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_citation.css') }}">
{% endblock %}

{% block body %}



<form action="/add_citation" method="post">
  <h2>Create a new citation</h2>
  <label for="type">Citation type:</label>
  <select name="type" required>
    <option value="article">Article</option>
  </select>

  <label for="author">Author:</label>
  <input type="text" name="author" placeholder="Matti Meikäläinen" required>

  <label for="title">Title:</label>
  <input type="text" name="title" placeholder="Tech companies want small nuclear reactors." required>

  <label for="journal">Journal:</label>
  <input type="text" name="journal" placeholder="Times" required>

  <label for="year">Year:</label>
  <input type="text" name="year" placeholder="2000" required>
  <div class="hidden">
    <button type="button" id="opt_btn">Show optional fields</button>
    <label for="volume">Volume:</label>
    <input type="text" name="volume" placeholder="1">

    <label for="number">Number:</label>
    <input type="text" name="number" placeholder="1">

    <label for="pages">Pages:</label>
    <input type="text" name="pages" placeholder="10-15">

    <label for="month">Month:</label>
    <input type="text" name="month" placeholder="1">

    <label for="note">Note:</label>
    <input type="text" name="note" placeholder="Add note">
  </div>
  <input type="submit" name="submit" value="Create citation">
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<script src="{{url_for('static', filename='javascript/add_citation.js')}}"></script>

{% endblock %}