{% extends "layout.html" %}

{% block title %}
Citation Manager
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}


<h2>Citations</h2>

<a href="{{url_for('download')}}">Generate and download BibTeX file</a>

<h3>Saved citations</h3>

{% if citations %}
<table>
    <tr class="titles">
        <td>Key</td>
        <td>Authors</td>
        <td>Title</td>
        <td>Journal</td>
        <td>Year</td>
        <td>Volume</td>
        <td>Number</td>
        <td>Pages</td>
        <td>Month</td>
        <td>Note</td>
        <td>Editing</td>
    </tr>
    {% for citation in citations %}
    <tr>
        <td>{{ citation.key }}</td>
        <td>{{citation.author|join(", ")}}</td>
        <td>{{ citation.title }}</td>
        <td>{{ citation.journal }}</td>
        <td>{{ citation.year }}</td>
        <td>{{ citation.volume }}</td>
        <td>{{ citation.number }}</td>
        <td>{{ citation.pages }}</td>
        <td>{{ citation.month }}</td>
        <td>{{ citation.note }}</td>
        <td>
            <button>
                Edit
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Add citations to see them here.</p>
{% endif %}


{% endblock %}