{% extends "layout.html" %}

{% block title %}
Citation Manager
{% endblock %}

{% block body %}



<h2>Citations</h2>

<a href="{{url_for('download')}}">Generate and Download Bibtex</a>

<h3>Saved citations</h3>

{% if citations %}

    <ul>
        {% for citation in citations %}
        <li>Key: {{ citation.key }}</li>
        <li>Author: {{ citation.author }}</li>
        <li>Title: {{ citation.title }}</li>
        <li>Journal: {{ citation.journal }}</li>
        <li>Year: {{ citation.year }}</li>
        <li>Volume: {{ citation.volume }}</li>
        <li>Number: {{ citation.number }}</li>
        <li>Pages: {{ citation.pages }}</li>
        <li>Month: {{ citation.month }}</li>
        <li>Note: {{ citation.note }}</li>

        <button>
            Edit
        </button>

        {% endfor %}
    </ul>
{% else %}
    <p>Add citations to see them here.</p>
{% endif %}


{% endblock %}