{% extends "layout.html" %}

{% block title %}
Citation Manager
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

<h2>Saved citations</h2>

{% if citations %}
<div id="citation_container">
    {% for citation_type in citations %}
    <div class="citation_type">
        <h3>{{ citation_type.capitalize() }}</h3>
        {% for citation in citations[citation_type] %}
        <div class="citation">
            <div class="citation_brief">
                <span>{{ citation.key }}</span>
                <span>{{ citation.author|join(", ") }}</span>
                <span>{{ citation.title }}</span>
            </div>
            <div class="popup">
                <h2>{{ citation_type.capitalize() }} <button><span>&#x2b;</span></button></h2>
                {% for field in citation %}
                {% if citation[field] is iterable and citation[field] is not string %}
                    <div>{{ field.capitalize() }}: {{ citation[field]|join(", ") }}</div>
                {% elif citation[field] is not none and field != "created_at"%}
                    <div>{{ field.capitalize() }}: {{ citation[field] }}</div>
                {% endif %}
                {% endfor %}
                <div>Citation created on: {{ citation.created_at }}</div>
                <form action="/delete_citation" method="post">
                    <input type="hidden" name="id" value="{{ citation.id }}">
                    <input type="submit" name="submit" value="Delete">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<p>Add citations to see them here.</p>
{% endif %}

<script src="{{url_for('static', filename='javascript/index.js')}}"></script>

{% endblock %}