<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="citation.css">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!--Renders return button to every page based on this-->
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/add_citation">Add Citation</a>
      <a href="{{url_for('download')}}">Generate BibTeX</a>
    </div>
    {% block body %}{% endblock %}

  </body>
</html>
