form {
    width: 35em;
    min-width: max-content;
    max-width: 90%;
    padding: 1em;
    margin: 2em auto;
    font-size: 1.1em;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.309);
    overflow: hidden;
}

h2 {
    margin: 0 0 1em 0;
}

label {
    width: 50%;
    margin-bottom: 1em;
    float: left;
    clear: left;
}

textarea, select {
    width: 50%;
    margin-bottom: 1em;
    font-size: 1.1em;
    float: left;
}

textarea {
    min-height: 30px;
    resize: none;
    overflow: hidden;
}

form div {
    clear: both;
    overflow: hidden;
}
#authors label {
    margin-bottom: 0.2em;
    clear: unset;
}

#authors textarea {
    margin-bottom: 0.2em;
    float: right;
    clear: right;
}

#add_author {
    display: block;
    width: 50%;
    margin-bottom: 1em;
    border: none;
    clear: both;
    float: right;
    font-size: 1.1em;
    background-color: transparent;
}


#add_author b {
    display: inline-block;
    font-size: 1.4em;
    translate: 0 0.1em;
    font-weight: 600;
}

#opt_btn {
    display: block;
    margin: 0 auto 1em auto;
    border: none;
    clear: both;
    font-size: 1.1em;
    background-color: transparent;
}

button:hover {
    font-weight: 600;
}

#opt_btn::after, .hidden #opt_btn:hover::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: 2px solid transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 1px;
    transform: translate(80%,-15%) rotate(-135deg);
    position: relative;
}

#opt_btn:hover::after, .hidden #opt_btn::after {
    transform: translate(80%, 45%) rotate(45deg);
}

.hidden label, .hidden textarea {
    display: none;
}

input[type="submit"] {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 1em;
}