h2 {
    text-align: center;
}

#citation_container {
    column-count: 2;
    width: 90%;
    margin: auto;
    padding: 1em;
    column-gap: 1em;
    overflow: hidden auto;
}


.citation_type {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
    border: 2px solid black;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.309);
}

.citation_type h3 {
    margin: 0;
    padding: 0.5em;
    text-align: left;
    background-color: #1f377e;
    color: white;
}


.citation_brief {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding: 0.5vmin;
    user-select: none;
    cursor: pointer;
}


.citation_brief:hover {
    scale: 1.03;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 1px 0px 1px rgba(0, 0, 0, 0.309);
    font-weight: 600;
}

.citation_brief span {
    padding: 0.5vmin;
    min-width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.citation_brief span:first-child {
    width: 8em;
    min-width: unset;
    flex-shrink: 0;
}

.citation_brief span:nth-child(2) {
    max-width: 30%;
}

.popup {
    display: none;
    width: 80%;
    left: 50%;
    top: 10em;
    margin-left: -40%;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 4px 0px 1px rgba(0, 0, 0, 0.521);
    position: absolute;
    z-index: 2;
}

.popup div {
    padding: 0.5em;
}

.popup h2 {
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
    background-color: #2c458f;
    color: white;
    position: relative;
}

.popup button {
    height: 100%;
    width: 1.5em;
    font-size: 1.5em;
    color: white;
    background-color: unset;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.popup button:hover {
    background-color: #21346d;
}


.popup button span {
    display: block;
    rotate: 45deg;
}
.popup.shown {
    display: block;
}

@media only screen and (max-width: 860px) {
    #citation_container {
        column-count: 1;
    }
  }