* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f7f8;
    padding-bottom: 50px;
}

.topnav {
    display: flex;
    height: 3em;
    line-height: 3em;
    font-size: 1.2em;
    color: red;
    background-color: #1f377e;
}

.topnav a {
    display: block;
    padding: 0 1em;
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    color: #eff6f8;
    background-color: #1a2c60;
}

.topnav a.reverse {
    margin-left: auto;
}